.crBody {
  height: 100vh;
  overflow-x: hidden;
}

.inBody {
  width: 100%;
  padding: 5rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title,
.titleCart,
.titleTotal {
  font-family: HBBold;
  font-size: 25px;
}

.titleCart {
  text-align: left;
  font-size: 22px;
}

.titleTotal {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 17px;
  gap: 0.25rem;
}

.cartFlex {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}

.cartFlex2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: calc(1rem + 33px);
  position: sticky;
  top: 2rem;
  height: fit-content;
}

.totalCarts,
.allFlight,
.allHotel,
.roomInfo {
  display: flex;
  flex-direction: column;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  /* border-radius: 12.5px; */
  background-color: #ffffff;
  overflow: hidden;
  padding: 1.5rem;
  gap: 0.5rem;
  height: fit-content;
  transition: all 0.25s ease-in-out;
}

.roomInfo,
.priceInfo {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.roomCont {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: suisseregular;
}

.roomCont:last-child {
  text-align: right;
}

.carts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
  background-color: #ffffff;
  overflow: hidden;
  justify-content: space-around;
  transition: all 0.25 ease-in-out;
}

.totalCarts {
  width: 100%;
  padding: 1rem;
}

.allFlight,
.allHotel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 100%;
}

.allFlightContainer,
.allHotelContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.noCart {
  text-align: left;
  height: 50px;
}

.ticketData {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-inline: 1.5rem;
  gap: 0.75rem;
}

.info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.info p {
  margin: 0;
  font-size: 16px;
  font-family: suisseregular;
}

.info p:last-child {
  font-size: 15px;
}

.priceAndRemove {
  display: flex;
  padding-inline: 1rem;
  justify-content: space-between;
  align-items: center;
}

.remove {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.remove p {
  margin: 0;
}

.prices,
.pricesAndRemove {
  font-family: suisseregular;
  font-size: 20px;
}

.prices span,
.pricesAndRemove span {
  color: #ff5e1f;
}

.pricesAndRemove {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 0.5rem;
}

.expiredd {
  font-family: GTHaptik;
  color: red;
}

.notexpiredd {
  font-family: GTHaptik;
  color: rgb(44, 152, 44);
}

.iconRemove {
  width: 25px;
  height: 25px;
  color: red;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconRemove:hover {
  color: rgb(148, 0, 0);
}

.hotelInfo {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.hotelInfo .image {
  width: 35%;
}

.hotelInfo img {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px;
}

.checkinout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
}

.checkinout .name {
  font-family: GTHaptik;
  font-size: 22px;
}

.checkinout .address {
  font-family: suisseregular;
  font-size: 16px;
}

.updateCico,
.allInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.allInputs {
  flex-direction: row;
}

.promos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.successMsg {
  padding: 0;
  margin: 0;
  color: rgb(15, 186, 43);
  font-weight: 500;
}

.cartLinePrice {
  margin: 0;
  font-size: 17px;
}

.bookingBtn {
  color: white;
  background-color: #1b71c1;
  border-radius: 0;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.bookingBtn:hover {
  color: white;
  background-color: #124f88;
  border: none;
}
